html {
    box-sizing: border-box;
    font-family: 'karla';
    font-size: 16px;

    
}

body {
    padding: 20px;
}

h2, h4, p {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#card {
    width: 600px;
    height: 400px;
    box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    overflow: hidden;
}
#top-section {
    width: 100%;
    height: 45%;
    padding: 20px;
}

#bottom-section {
    width: 100%;
    height: 55%;
    color: white;
}

#bottom-left-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: #2ab2af;
    padding: 20px;
}

#bottom-right-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: #29c2be;
    padding: 20px;
}

#top-section h2{
    color: #2ab2af;
    margin-bottom: 15px;
}

#top-section h4 {
    color:  #c0df34;
    margin-bottom: 10px;
}

#top-section p {
    color:  #98a6bd;
}

button {
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #F5EB2C;
    transform: scale(1.02);

}

#price {
    font-weight: 700;
    font-size: 1.4rem;
}

#bottom-left-section h4 {
    margin-bottom: 15px;
}

#bottom-left-section p {
    font-size: 0.8rem;
    margin-bottom: 40px;
}

#price-frequency, #price {
    display: inline-block;
}

#price-frequency {
    position: relative;
    top: -3px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}

ul {
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8rem;
}
